.btn {
  background-color: #56A8AE;
}

.btn:hover {
  background-color: #56A8AE;
  text-decoration: underline;
  cursor: pointer;
}

body {
  font-family: 'Abel', sans-serif;
  text-align: center;
  background-image: url(http://i1297.photobucket.com/albums/ag34/mlaphotos13/icecream_zpsb6231745.jpg);
  background-size: cover;
}

.jumbotron {
  background-color: orange;
  height: 50px;
  padding: 0;
  margin: 0;
}

input {
  background-color: black;
  color: white;
}

h4 {
  font-size: 120px;
  text-shadow: -3px -3px 0 white;
  color: orange;
}

.selected {
  color: #56A8AE;
}

.cursor:hover {
  cursor: pointer;
  color: grey;
  text-decoration: underline;
}

.container {
  color: #006666;
  font-weight: bolder;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

section.range-slider {
  position: relative;
  width: 250px;
  height: 80px;
}

section.range-slider input {
  position: absolute;
  top: 30px;
  width: 250px;
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

meal-list {
  position:relative;
  text-align: center;
}

.row {
  font-size: 20px;
}

.details {
  font-size: 15px;
}

.meal-form .input-sm-calories {
  width: 100px;
  display: inline-block;
  margin_bottom: 0px;
  border_bottom: 0px;
  padding_bottom: 0px;
}

.jumbotron .total {
  float: right;
  color: white;
  padding-top: 20px;
  padding-right: 40px;
  font-size: 20px;
  margin: 0px;
  border:0px;
}
